:root{
    --colorPrimario: #F6E9E6;
    --colorSecundario: #FFD7D7;
    --colorMarron: rgb(116, 47, 47);
    --fuentePrincipal: 'Cinzel', serif;
    --fuenteSecundatia: 'Tiro Gurmukhi', serif;
}

*{
    text-decoration: none;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0%;
}

.logo{
    margin: auto;
    background-image: url(../img/logo.jpg);
    width: 25rem;
    height: 17rem;
    background-size: cover;
    background-position: center center;
}

ul{
    margin: 0%;
    padding: 0%;
    height: 4rem;
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    background-color: var(--colorPrimario);
}

ul>a{
    position: relative;
    top: 1rem;
    left: 1rem;
    margin-right: 2rem;
    color:black;
}

ul>a:hover{
    border-bottom: 1px solid var(--colorMarron);
}

.principal{
    margin: 2rem;
    position: relative;
    top: 16rem;
    text-align: center;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--colorPrimario);
}
@media(min-width:760px){
    .principal{
        margin: 0 40rem;
    }


}
.principal>h1{
    position: relative;
    top: 3rem;
    font-family: var(--fuentePrincipal);
    font-size: 5rem;
    font-weight: 400;
    color: black;
    margin: 0%;
}

.principal>a{
    position: relative;
    top: 7.7rem;
    color: white;
    font-size: 2rem;
    padding: 1rem 7rem;
    background-color: var(--colorSecundario);
}

.principal>p{
    font-size: 1.8rem;
    font-family: var(--fuenteSecundatia);
    margin: 0%;
    position: relative;
    top: 3rem;
    color: var(--colorMarron);
}

.banner{
    background-image: url(../img/nono.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin-bottom: 2rem;
}


.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5rem;
    column-gap: 1.5rem;
    row-gap: 3rem;
}

@media (max-width:1250px) {
    .card-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 5rem;
        gap: 1rem;
    }
}

@media (max-width:960px) {
    .card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem;
        gap: 1rem;
    }
}
@media (max-width:760px) {
    .card-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem;
        gap: 1rem;
    }
    .card{
        max-width: 17rem;
    }
}

.card{ 
    text-align: center;
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: var(--colorPrimario);
    cursor: pointer;
}

.card>h3{
    font-family: var(--fuentePrincipal);
    color: black;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    top: 10rem;
}

.cepillo{
    background-color: var(--colorPrimario);
    min-height: 50rem;
    width: 100%;
}
@media (min-width:760px) {
    .cepGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

.cepGrid{
    padding: 5rem;
}

.cep{
    height: 40rem;
}

.cep-bg{
    margin-top: 2rem;
    background-image: url(../img/book.jpg);
    background-size: cover;
    background-position: center;
}

.cep-bg2{
    margin-top: 2rem;
    background-image: url(../img/frase.jpg);
    background-size: cover;
    background-position: center center;
}

.sub{
    margin: 5rem 0 0 0;
    font-size: 3rem;
    text-align: center;
    color: var(--colorMarron);
    font-family: var(--fuentePrincipal);
}

.card-pres{
   transition: .3s; 
   cursor: pointer;
   
}
.card-pres>a>img{
    width: 25rem;
    height: 20rem; 
    border-radius: .5rem;
    
}

.card-pres:hover{
    transform: scale(1.05);
    background-color: var(--colorSecundario);
    transition: .3s;
    border-radius: .5rem;
}


.card-pres>img{
    width: 100%;
    height: 100%;
}

.card-pres>p{
    margin: 0%;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fuenteSecundatia);
}

.bold{
    font-weight: bold;
    color: var(--colorMarron);
}

.contacto{
    background-color: var(--colorPrimario);
    height: 25rem;
}

.contacto>h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0;
    padding-top: 1rem;
}


